<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attendence</title>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
      integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <h1>BUS 371 Attendence</h1>
      <form
        hx-boost="true"
        hx-post="/"
        hx-swap="outerHTML"
        action="/"
        method="post"
      >
        {{ form.csrf_token }}
        <label> {{ form.name.label }} {{ form.name }} </label>
        {{ form.date(hidden=True) }}
        <button type="submit">Mark Attendence</button>
      </form>
    </main>
  </body>
</html>
